<div id="content">
  <div class="container">
    <div class="content-header">

      <%= render 'catalog/search_form' %>
    </div>
      <%- if @searches.blank? -%>
        <div class="page-header-in-pages-with-searchbox">

        <h3 class='section-heading'><%=t('blacklight.search_history.no_history')%></h3>
        </div>
      <%- else -%>
          <div class="page-header-in-pages-with-searchbox">
            <%= link_to t('blacklight.search_history.clear.action_title'), blacklight.clear_search_history_path, :method => :delete, :data => { :confirm => t('blacklight.search_history.clear.action_confirm') }, :class => 'btn btn-danger pull-right' %>
            <h3 class='section-heading'><%=t('blacklight.search_history.recent')%></h3>
          </div>

          <table class="table table-striped search_history">
            <%-  @searches.each_with_index do |search,index| -%>
                <% unless search.query_params['q'].nil? #no need to show empty search in the search history list %>
                  <%= content_tag :tr, :id => "document_#{index + 1}" do %>
                      <td class="query"><%= link_to_previous_search(search.query_params) %></td>
                      <%- if has_user_authentication_provider? -%>
                          <td class="actions">
                            <%- if current_or_guest_user && search.saved? -%>
                                <%= button_to t('blacklight.search_history.forget'), blacklight.forget_search_path(search.id), :class => 'btn btn-default' %>
                            <%- else -%>
                                <%= button_to t('blacklight.search_history.save'), blacklight.save_search_path(search.id), :method => :put, :class => 'btn btn-default' %>
                            <%- end -%>
                          </td>
                      <%- end -%>
                  <% end #content_tag %>
              <%- end -%>
            <% end %>
          </table>
      <%- end -%>
      </div>
</div>
