<%# default partial to display solr document fields in catalog index view -%>
<% doc_presenter = index_presenter(document) %>
<% has_text  = document['has_text_ssi'].present? && document['has_text_ssi'] == 'yes' %>
<% has_facs  = document['has_facs_ssi'].present? && document['has_facs_ssi'] == 'yes' %>
<div class="x">
<dl class="document-metadata dl-horizontal dl-invert">
  <% collapse_id = "collapse-"+document['id'].gsub("#", "") %>
  <% result_id = "result-"+document['id'].gsub("#", "") %>
  <% text_label_id = "text-label-"+document['id'].gsub("#", "") %>

  <% collapse_fields = [] %>
  <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
          <% label = render_index_field_label document, field: field_name %>
          <% value = doc_presenter.field_value field_name %>
          <% if value.present? and field.short_form %>
              <dt class="blacklight-<%= field_name.parameterize %>"><%= label %></dt>
              <dd class="blacklight-<%= field_name.parameterize %>"><%= value %></dd>
          <% elsif value.present?  %>
              <% collapse_fields << [label, value, field_name] %>
          <% end %>
      <% end -%>
  <% end -%>

  <dt id=<%= text_label_id %>><%= t('blacklight.search.index.in_text') %></dt>
  <dd class="search-results" id =<%= result_id %> ></dd>

  <dt><%= t('blacklight.search.index.format') %></dt>
  <dd>
    <% if has_text %>
            <%= bootstrap_glyphicon 'align-left' %>
            <span class="dlTxt"><%= t('blacklight.search.index.text') %></span>
    <% end %>
    <% if has_facs %>
            <%= bootstrap_glyphicon 'book' %>
            <span class="dlFaks"><%= t('blacklight.search.index.facsimile') %></span>
    <% end %>
  </dd>


  <div class="long_form_collapse collapse" id=<%= collapse_id %>>
    <% collapse_fields.each do |label, value, field_name| %>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= label %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= value %></dd>
    <% end %>
  </div>
  <% unless collapse_fields.empty? %>
      <a class="collapse-button" role="button" data-toggle="collapse" href="#<%= collapse_id %>" aria-expanded="false" aria-controls="<%= collapse_id %>" onclick="changeButtonLabel(this);">
        <%= t('blacklight.search.index.show_more') %>
      </a>
  <% end %>

</dl>

  <!-- Modal Table of content  -->
  <div class="modal fade" id="matches-<%= document['id'] %>" tabindex="-1" role="dialog" aria-labelledby="textMatches">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="textMatches">
            Alle forekomster
          </h4>
        </div>
        <div class="modal-body" id="matchesModalBody-<%= document['id']%>">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
        </div>
      </div>
    </div>
  </div>

</div>

<%= javascript_tag do %>
    $(document).ready(
            function () {
                index_work_search("<%= document['id'] %>", $('#<%= result_id %>'), $('#<%= text_label_id %>'));
            });
<% end %>
