<%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-horizontal dl-invert">
    <% if document['birth_date_ssi'] %>
      <dt> <%= t 'people.show_person.born' %></dt>
      <dd><%= document['birth_date_ssi'] %></dd>
    <%end %>

    <% if document['death_date_ssi'] %>
        <dt> <%= t 'people.show_person.died' %></dt>
        <dd><%= document['death_date_ssi'] %></dd>
    <%end %>

  <dt>Relateret:</dt>
  <dd>


    <%= author_portrait_search_link(document[:given_name_ssi],document[:family_name_ssi],t('people.show_person.potrait')) %>
    <a href="/catalog/?f[author_ssi][]=<%= document['author_name'].first %>&f[cat_ssi][]=work">
      <%= t 'people.show_person.similar_works' %></a>
  </dd>

</dl>
