<% document ||= @document %>
<% # bookmark/folder functions -%>

<% document_empty = !FileServer.doc_has_text(document.id) %>

<!-- Button trigger table of content -->
<button type="button" class="btn btn-default tableOfContent" data-toggle="modal" data-target="#toc">
  <%= bootstrap_glyphicon 'list' %>
  Indhold
</button>

<!-- Button trigger search in full text -->
<button type="button" class="btn btn-default contentSearch" data-toggle="modal" data-target="#searchFullText">
  <%= bootstrap_glyphicon 'search' %>
  Søg
</button>

<!-- Modal Table of content  -->
<div class="modal fade" id="toc" tabindex="-1" role="dialog" aria-labelledby="tableOfContent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tableOfContent">
          <%= bootstrap_glyphicon 'list' %>
          Indhold
        </h4>
      </div>
      <div class="modal-body">
        <% if document['cat_ssi'] == 'portrait' %>
            <%= FileServer.toc(document.id,{c: 'authors'}) %>
        <% else %>
	   <% if request.url =~ /facsimile/ %>
              <%= FileServer.toc_facsimile(document.id) %>
           <% else %>
              <%= FileServer.toc(document.id) %>
           <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Search in content  -->
<div class="modal fade" id="searchFullText" tabindex="-1" role="dialog" aria-labelledby="searchFullText">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchInFullText">
          <%= bootstrap_glyphicon 'search' %>
          Søg
        </h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'work_search', locals: {document: document} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
      </div>
    </div>
  </div>
</div>








