<%# default partial to display solr document fields in catalog show view -%>

<% document_empty  = @document_empty || !FileServer.has_text(document.id) %>

 <div class="container nav-tab-instance-fixContainer">
   <div class="row"><div class="col-md-12">
    <div class="nav-tab-instance">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <% unless document_empty %>
              <%= link_to(solr_document_path(document), disabled: document_empty) do %>
                  <%= bootstrap_glyphicon 'align-left' %>
                  Tekst
              <% end %>
          <% end %>
        </li>
        <li role="presentation">
          <%# Note we need to use no_turbolink because turbolinks will fuck with the unveil library %>
          <%= link_to(facsimile_catalog_path(document.id), data: { no_turbolink: true }) do %>
              <%= bootstrap_glyphicon 'book' %>
              Faksimile
          <% end %>
        </li>
      </ul>
      </div></div>
    </div>
 </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if !document_empty %>
          <div class="text-content workContent">
            <div class="text">
              <% text ||= FileServer.render_snippet(document.id) %>
              <%= text.html_safe %>
            </div>
          </div>
      <% else %>
          <div class="text-content workContent">
            <div class="text">
              <%= t '.no_text' %>
              <% controller.redirect_to facsimile_catalog_path(document.id) %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>