<% document ||= @document %>
<% # bookmark/folder functions -%>
<%= render_document_heading(document, :tag => :h1) %>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |field_name, field| -%>
      <% if should_render_show_field? document, field %>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
      <% end -%>
  <% end -%>
</dl>
<% document_empty = !FileServer.has_text(document.id) %>
<div class="btn-group" role="group">

    <%= link_to('#', class: 'btn btn-default', data: { function: 'toggle', target: '#toc' }) do %>
        <%= bootstrap_glyphicon 'list' %>
        Indhold
    <% end %>
    <%= link_to('#', class: 'btn btn-default', data: { function: 'toggle', target: '.worksearch' }, disabled: document_empty) do %>
        <%= bootstrap_glyphicon 'search' %>
        Søg
    <% end %>

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= bootstrap_glyphicon 'eye-open' %>
          Visning <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(solr_document_path(document), disabled: document_empty) do %>
                <%= bootstrap_glyphicon 'font' %>
                Tekst
            <% end %>
          </li>
          <li>
            <%# Note we need to use no_turbolink because turbolinks will fuck with the unveil library %>
            <%= link_to(facsimile_catalog_path(document.id), data: { no_turbolink: true }) do %>
                <%= bootstrap_glyphicon 'picture' %>
                Faksimile
            <% end %>
          </li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= bootstrap_glyphicon 'download-alt' %>
            Download PDF <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
              <%= link_to(solr_document_path(document, format: :pdf),  disabled: document_empty) do %>
                  <%= bootstrap_glyphicon 'font' %>
                  Tekst
              <% end %>
            </li>
            <li>
              <%= link_to(facsimile_catalog_path(document.id, format: :pdf)) do %>
                  <%= bootstrap_glyphicon 'picture' %>
                  Billede
              <% end %>
            </li>
        </ul>
    </div>

</div>

