<% document ||= @document %>
<% document_empty  = @document_empty || !FileServer.doc_has_text(document.id) %>

<% # bookmark/folder functions -%>
<div class="container workNavbarFixContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="workNavBar">
                <div class="btn-group" role="group">
                  <% unless document_empty %>
                    <%= render :partial => 'show_tools_work' %>
                  <% end %>
                    <%= render :partial => 'show_tools' %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container workHeaderFixContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="workHeader">
              <h1><span class="glyphicon glyphicon-book"></span> <%= document['work_title_tesim'].first %></h1>
                <dl class="dl-horizontal  dl-invert">
                    <% document_show_fields(document).each do |field_name, field| -%>
                        <% if should_render_show_field? document, field %>
                            <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
                            <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
                        <% end -%>
                    <% end -%>
                    <dt>Download</dt>
                    <dd>
                      <% unless document_empty %>
                          <%= link_to(solr_document_path(document, format: :pdf), class:'btn btn-default dlTxt') do %>
                              <%= bootstrap_glyphicon 'align-left' %>
                              Tekst
                          <% end %>
                      <% end %>
                      <%= link_to(facsimile_catalog_path(document.id, format: :pdf), class:'btn btn-default dlFaks') do %>
                          <%= bootstrap_glyphicon 'book' %>
                          Faksimile
                      <% end %>

                    </dd>
                </dl>


            </div>
        </div>
    </div>
</div>

