<% document ||= @document %>
<% doc_presenter = show_presenter(document) %>
<% # bookmark/folder functions -%>
<div class="container workHeaderFixContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="workHeader">
        <h1><span class="glyphicon glyphicon-book"></span> <%= document['work_title_tesim'].first %></h1>
        <dl class="dl-horizontal  dl-invert">
          <% document_show_fields(document).each do |field_name, field| -%>
              <% if should_render_show_field? document, field %>
                  <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
                  <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
              <% end -%>
          <% end -%>
        </dl>
      </div>
    </div>
  </div>
</div>