<% document ||= @document %>
<% # bookmark/folder functions -%>

<% document_empty = !FileServer.has_text(document.id) %>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <%= link_to('#', role:'tab', data: { function: 'toggle', target: '#toc' }) do %>
          <%= bootstrap_glyphicon 'list' %>
          Indhold
      <% end %>
    <li role="presentation">
      <%= link_to('#', role:'tab',  data: { function: 'toggle', target: '#worksearch' }, disabled: document_empty) do %>
          <%= bootstrap_glyphicon 'search' %>
          Søg
      <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="toc">
        <%= FileServer.toc(document.id) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="worksearch" class="worksearch">
        <%= render partial: 'work_search', locals: {document: document} %>
    </div>
  </div>

</div>






