<div id="content" class="<%= show_content_classes %>">
<%= render partial: 'catalog/show_header_work' %>

  <% vol = @document['volume_id_ssi'] %>
  <% text = FileServer.render_snippet(@document.id) %>
  <% prev_page = nil %>
  <% pages(text).each do |page| %>
      <%= content_tag :div, id: page do %>
        <%= image_tag('default.gif', data: { src: img_link(vol, page, prev_page) }) %>
    <% end %>
    <% prev_page = page %>
  <% end %>
</div>
<div id="sidebar" class="<%= show_sidebar_classes %>">
  <%= render_document_sidebar_partial %>
</div>
