<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
  </ul>

  <% if has_user_authentication_provider? %>
    <ul class="nav navbar-nav">
      <% if current_user %>

      <li>
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>
      </li>
      <% unless current_user.to_s.blank? -%>
      <li>
        <%= link_to current_user, edit_user_registration_path %>
      </li>
      <% end %>
      <% else %>
      <li id="login-link">
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
        <span class="login-tooltip ">?
         <span class="login-tooltiptext">
            <div class="panel panel-default">
              <div class="panel-heading">Søgetips</div>
              <div class="panel-body">
                <ul class="advanced-help">

                  <li>Kombiner søgertermer for at finde</li>
                  <li>Brug " for at søge efter en sætning</li>
                  <li>Brug "+" før et ord hvis resultatet skal indeholde dette ord.</li>
                  <li>Brug "-" for at udelukke ord fra søgningen.</li>
                  <li>Brug "OR", "AND", and "NOT" til mere avancerede søgninger. </li>
                  <li>Bemærk at systemet understøtter ikke wildcards. Trunkering udføres automatisk af systemet</li>
                </ul>
              </div>
            </div>
         </span>
        </span>
      </li>
      <% end %>
      </ul>
  <% end %>
</div>
