<!DOCTYPE html>
<html lang="da" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= render_page_title %></title>
  <%= opensearch_description_tag application_name, opensearch_catalog_path(:format => 'xml', :only_path => false) %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %>

  <% if Rails.env.production?  && (root_url.include? "adl.dk") %>
      <%= render :partial => 'shared/analytics' %>
  <% end %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body class="<%= render_body_class %>" onload="checkCookie()">

<div id="cookie-button" class="alert alert-info text-center" role="alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="cookieTerms('terms', 'true', 60)"><span aria-hidden="true">&times;</span></button>
  <p>
    På ADL.dk bruger vi cookies til at huske dine indstillinger samt indsamle statistik.
  </p>
  <p>
    <%= link_to 'Læs mere', page_path('politik'), :class =>'btn btn-primary btn-sm' %>
  </p>
</div>

<%= render :partial => 'shared/header_navbar' %>
<%= render :partial=>'/flash_msg' %>

<div class="container-fluid" id="body-content">
  <div class="row">
    <div class="col-md-12">
      <div id="main-flashes" class="container">

      </div>
    </div>
  </div>
  <%= render partial: 'shared/ajax_modal' %>
  <div class="row">
    <%= yield %>
  </div>
</div>

<%= render :partial => 'shared/footer' %>
</body>
</html>